section#works{
    margin: 5% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1600px;
}

@media(max-width: 991px){
    section#works{
        margin: 0;
    }
}

.works__image{
    width: 360px;
    height: 360px;
    margin-bottom: 20px;
    transition: transform 0.5s;

}

.works__image:hover{
    transform: scale(1.1);
}